<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}
<h1>Welcome to the Community Platform</h1>
{% endblock %}

{% block content %}
    <main>
        {% if user.is_authenticated %}
            <section id="feeds">
                <h2>Feeds</h2>
                <!-- User Threads -->
                <div id="user-threads">
                    <h3>User Threads</h3>

                </div>
                <!-- Block Threads -->
                <div id="block-threads">
                    <h3>Block Threads</h3>
                </div>
                <!-- Hood Threads -->
                <div id="hood-threads">
                    <h3>Hood Threads</h3>

                </div>
            </section>
        {% endif %}
    </main>

{% endblock %}

