<script>
    /*
    var mymap = L.map('#mapid').setView([{{ latitude }}, {{ longitude }}], {{ zoom }});

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(mymap);

    var marker;

    mymap.on('click', function(e) {
        var latlng = e.latlng;
        if (marker) {
            marker.setLatLng(latlng);
        } else {
            marker = L.marker(latlng).addTo(mymap);
        }
        document.getElementById('id_point').value = 'POINT(' + latlng.lng + ' ' + latlng.lat + ')';
    });
    */
</script>